extends layout

block content
  div(class="row")
    div(class="col s12 m6")
       h5(class="grey-text text-darken-4")=title
       div(class="collection")
          p(class="collection-item") Final Project Stuff
          ol
             li 
                a(class="collection-item" href="/uvfit/home.html") UVFit App
             li 
                a(class="collection-item" href="/uvfit/index.html") Sign In
             li 
                a(class="collection-item" href="/uvfit/register.html") Register
       div(class="collection")
          p(class="collection-item") Holz App
          ol
             li 
                a(class="collection-item" href="/holz/home.html") Holz
             li 
                a(class="collection-item" href="/holz/index.html") Signin
             li 
                a(class="collection-item" href="/holz/register.html") Register
       div(class="collection")
          p(class="collection-item") JSON POSTer
          ol
             li 
                a(class="collection-item" href="/json/jsonposter.html") JSON POSTer


